
.dashboard-section-header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

body{
    background-color: #F8F8F8;
}
.welcome-text{
    font-size: 14px;
    font-weight: 700;
    color: var(--labelcolor);
}

.welcome-container h4{
    font-size: 20px;
    color: var(--black);
}


.welcome-desc{
    font-size: 10px;
    color: var(--labelcolor);
}


.start-container{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.start-text{
    font-size: 10px;
    font-weight: 400;
    color: var(--labelcolor);
}


.start-btn{
    border: none;
    outline: none;
    color: white;
    background-color: var(--green);
    width: 100px;
    height: 40px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 8px;

}


.recent-refer h4{
    color: var(--labelcolor);
}

.my-our-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 11px;
    padding: 10px;
    
}
.my-our-container img{
    width: 50px;
    margin-bottom: -8px;
}
.our-container{
    display: flex;
    background-color: var(--green);
    color: white;
    height: 100px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.my-container{
    display: flex;
    background-color: var(--yellow);
    color: white;
    height: 100px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.dashboard-card{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.03);

}



.dashboard-card-fund{
    height: 150px;
    background-color: var(--green);
    width: 260px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.card-fund{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.fund-btn{
    display: flex;
    background-color: rgba(255, 255, 255, 0.17);
    height: 40px;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 10px;
    border: none;
    outline: none;
    border: 0.5px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-weight: 700;
    width: 100px;
}
.card-section-fund{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-key-fund{
    color: white; 
    font-size: 13px;
}

.card-value-fund{
    font-weight: 700;
color: white; 
font-size: 20px;
}

.d-card-value-fund{
    font-weight: 400;
    color: white; 
    font-size: 18px;
}

.card-section{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}
.card-key{
    color: var(--labelcolor);
    font-size: 13px;
}

.card-value{
    font-weight: 700;
    color: var(--black);
    font-size: 12px;
}

.d-card-value{
    font-weight: 400;
    color: var(--black);
    font-size: 10px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}


.g-card-value{
    font-weight: 700;
    color: var(--green);
    font-size: 18px;
}

.recent-container{
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-items-container{
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recent{
    display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}
.dash-icon-con{
    height: 40px;
    width: 40px;
    background: rgba(172, 233, 97, 0.45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.bonus-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bonus{
    font-size: 13px;
    font-weight: 700;
    color: var(--green);
}
.bonus-sub{
    font-size: 10px;
    color: var(--labelcolor);
}

.bonus-price{
    font-size: 16px;
    font-weight: 700;
    color: var(--green);
}

.bonus-price-red{
    font-size: 16px;
    font-weight: 700;
    color: var(--red);
}

.recent-refer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    

}

.recent-refer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.refer-earn-container{
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 130px;
    gap: 10px;
    justify-content: center;
}


.refer-container{
    display: flex;
    width: 100%;
justify-content: space-between;
border: 1px solid rgba(217, 217, 217, 1);
padding: 10px 20px;
border-radius: 20px;    
align-items: center;
}

.refer-link{
    display: flex;
    gap: 10px;
    align-items: center;
}

.refer-link p{
    color: var(--labelcolor);
    font-size: 10px;
}

@media only screen and (min-width: 968px) {
    
.dashboard-section-header{
    display: flex;
    justify-content: space-between;
}

.welcome-text{
    font-size: 15px;
    font-weight: 700;
    color: var(--labelcolor);
}

.welcome-container h4{
    font-size: 30px;
    color: var(--black);
}


.welcome-desc{
    font-size: 13px;
    color: var(--labelcolor);
}


.start-container{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.start-text{
    font-size: 14px;
    font-weight: 400;
    color: var(--labelcolor);
}


.start-btn{
    border: none;
    outline: none;
    color: white;
    background-color: var(--green);
    width: 150px;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 8px;

}



.dashboard-card{
    height: 250px;
    background-color: white;
    width: 260px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.card-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}
.card-key{
    color: var(--labelcolor);
    font-size: 13px;
}

.card-value{
    font-weight: 700;
    color: var(--black);
    font-size: 25px;
}

.d-card-value{
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
}


.dashboard-card-fund{
    height: 250px;
    background-color: white;
    width: 260px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fund-btn{
    display: none;
}
.card-fund{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.card-section-fund{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.card-key-fund{
    color: var(--labelcolor);
    font-size: 13px;
}

.card-value-fund{
    font-weight: 700;
    color: var(--black);
    font-size: 25px;
}

.d-card-value-fund{
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.g-card-value{
    font-weight: 700;
    color: var(--green);
    font-size: 25px;
}

.recent-container{
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.recent{
    display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}
.dash-icon-con{
    height: 40px;
    width: 40px;
    background: rgba(172, 233, 97, 0.45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bonus{
    font-size: 15px;
    font-weight: 700;
    color: var(--green);
}
.bonus-sub{
    font-size: 13px;
    color: var(--labelcolor);
}

.bonus-price{
    font-size: 18px;
    font-weight: 700;
    color: var(--green);
}
.bonus-price-red{
    font-size: 18px;
    font-weight: 700;
    color: var(--red);
}

.recent-refer-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.recent-refer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.refer-earn-container{
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 130px;
    gap: 10px;
    justify-content: center;
}


.refer-container{
    display: flex;
    width: 100%;
justify-content: space-between;
border: 1px solid rgba(217, 217, 217, 1);
padding: 10px 20px;
border-radius: 20px;    
align-items: center;
}

.refer-link{
    display: flex;
    gap: 10px;
    align-items: center;
}

.refer-link p{
    color: var(--labelcolor);
    font-size: 13px;
}
.my-our-container{
    display: none;
}
}