
body{
    background-color: #F8F8F8;;

}
.section-header-transaction{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-header-transaction h4{
    font-weight: 400px;
    font-size: 25px;
    font-weight: 400;
}

.section-header-transaction .transaction-pre-desc{
    font-size: 16px;
    color: var(--labelcolor);
    font-weight: 700;
}
.section-header-transaction .transaction-header-desc{
    font-size: 10px;
    color: var(--labelcolor);

}

.transaction-menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.transaction-menu-active{
    padding: 10px 5px;
    border-bottom:px solid rgba(92, 156, 14, 1);
    color: var(--green);
    font-size: 14px;
    font-family: 700;
}

.transaction-menu{
    padding: 10px 5px;
    color: var(--labelcolor);
    font-size: 14px;

}


.transaction-container{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    height: 70px;
    padding:  20px;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;

}


.transaction{
    display: flex;
    gap: 10px;
    align-items: center;
}

.bonus-container{
    display: column;
}

.bonus-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.bonus{
    font-size: 14px;
    font-weight: 700;
    color: var(--green);
}
.bonus-sub{
    font-size: 11px;
    color: var(--labelcolor);
}

.bonus-price{
    font-size: 18px;
    font-weight: 700;
    color: var(--green);
}
.dash-icon-con{
    height: 35px;
    width: 35px;
    padding: 10px;
    background: rgba(172, 233, 97, 0.45);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-transaction-container{
    display: flex;
    gap: 15px;
    align-items: center;
}

.more-transaction-container svg{
    height: 20px;
    width: 20px;
    display: none;
}

@media only screen and (min-width: 968px) {

    .section-header-transaction{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .section-header-transaction h4{
        font-weight: 400px;
        font-size: 35px;
        font-weight: 400;
    }
    
    .section-header-transaction .transaction-pre-desc{
        font-size: 20px;
        color: var(--labelcolor);
        font-weight: 700;
    }
    .section-header-transaction .transaction-header-desc{
        font-size: 13px;
        color: var(--labelcolor);
    
    }
    
    .transaction-menu-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
        width: 100%;
    }
    
    .transaction-menu-active{
        padding: 10px 5px;
        border-bottom:3px solid rgba(92, 156, 14, 1);
        color: var(--green);
        font-size: 18px;
    }
    
    .transaction-menu{
        padding: 10px 5px;
        color: var(--labelcolor);
        font-size: 18px;
    
    }
    
    
    .transaction-container{
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
        height: 120px;
        padding:  20px;
        background-color: white;
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
    
    }
    
    
    .transaction{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    .bonus-container{
        display: column;
    }
    
    .bonus-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    
    }
    
    .bonus{
        font-size: 15px;
        font-weight: 700;
        color: var(--green);
    }
    .bonus-sub{
        font-size: 13px;
        color: var(--labelcolor);
    }
    
    .bonus-price{
        font-size: 24px;
        font-weight: 700;
        color: var(--green);
    }
    .dash-icon-con{
        height: 50px;
        width: 50px;
        background: rgba(172, 233, 97, 0.45);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .more-transaction-container{
        display: flex;
        gap: 15px;
        align-items: center;
    }
    
    svg{
        height: 20px;
        width: 20px;
    }
}