body {
  background-color: #f8f8f8;
}
.section-header-transaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-header-transaction h4 {
  font-weight: 400px;
  font-size: 25px;
  font-weight: 400;
}

.section-header-transaction .transaction-pre-desc {
  font-size: 16px;
  color: var(--labelcolor);
  font-weight: 700;
}
.section-header-transaction .transaction-header-desc {
  font-size: 10px;
  color: var(--labelcolor);
}

.general-with-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0px;
    gap: 15px;
  }

  .with-amount-con {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 75px;
    border: 1px solid rgba(231, 231, 231, 0.65);
    border-radius: 10px;
  
  }

  .currency-sign {
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
  }

  .with-amount-input {
    height: 20px;
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
  }
  .with-amount-input::placeholder {
    color: rgba(231, 231, 231, 1) !important;
  }

  .with-btn {
    height: 38px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--green);
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 700;
    align-self: center;
  }

  .model-success{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 30;
    justify-content: center;
    display: none;
}

.success-container{
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
    margin: 15px;
}
.success-header{
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.success-header h4{
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.success-header p{
  color: rgba(146, 146, 146, 1);
  font-size: 12px;
}

.success-price{
  font-size: 20px;
  font-weight: 700;
}

.with-success-btn{
  outline: none;
  border: none;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  width: 102px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-icon{
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 968px) {
  .section-header-transaction {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-header-transaction h4 {
    font-weight: 400px;
    font-size: 35px;
    font-weight: 400;
  }

  .section-header-transaction .transaction-pre-desc {
    font-size: 20px;
    color: var(--labelcolor);
    font-weight: 700;
  }
  .section-header-transaction .transaction-header-desc {
    font-size: 13px;
    color: var(--labelcolor);
  }

  .general-with-con{
    background-color: white;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.03);
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 40px;
    gap: 15px;
  }

  .with-amount-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border: none;
  
  }

  .currency-sign {
    font-size: 50px;
    color: var(--black);
    font-weight: 700;
  }

  .with-amount-input {
    height: 50px;
    width: 100%;
    font-size: 50px;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
  }
  .with-amount-input::placeholder {
    color: rgba(231, 231, 231, 1) !important;
  }

  .with-btn {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--green);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 700;
  }

  .model-success{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 30;
    justify-content: center;
    display: none;
}

.success-container{
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
    border-radius: 10px;
    gap: 30px;
    align-items: center;
}
.success-header{
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.success-header h4{
  font-size: 22px;
  font-weight: 700;
  color: var(--black);
}

.success-header p{
  color: rgba(146, 146, 146, 1);
  font-size: 18px;
}

.success-price{
  font-size: 25px;
  font-weight: 700;
}

.with-success-btn{
  outline: none;
  border: none;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  width: 160px;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-icon{
  height: 60px;
  width: 60px;
}
}
